.dockerignore
.DS_Store
.editorconfig
.env
.env.template
.git
.gitignore
.gitattributes
.idea
.kirakira
.vscode

crowdin.yml
dist
Dockerfile
local
node_modules
npm-debug.log
pr_body.txt
README.md

*.log
*.out
*.pid
*.seed
