# 服务器运行的端口
SERVER_PORT="9999"
# 当前运行的环境，dev 代表开发环境
SERVER_ENV="dev"
# 可选，暴露后端服务器的域名的根域名，SERVER_ENV 为 dev 时该环境变量无用
SERVER_ROOT_URL="example.com"


# Cloudflare R2 连接点
CF_R2_END_POINT = "xxxx.com"
# Cloudflare R2 key
CF_ACCESS_KEY_ID = "xxxxxxxx"
# Cloudflare R2  secret key 密钥
CF_SECRET_ACCESS_KEY = "xxxxxxxxxxxxxxx"


# Cloudflare Images Endpoint BaseURL
CF_IMAGES_ENDPOINT_URL = "https://api.cloudflare.com/client/v4/accounts/<ACCOUNT_ID>/images/v2/direct_upload"
# Cloudflare Images Token
CF_IMAGES_TOKEN = "xxxxxxxxxxxxxxx"


# Cloudflare Stream Endpoint BaseURL
CF_STREAM_TUS_ENDPOINT_URL = "https://api.cloudflare.com/client/v4/accounts/<ACCOUNT_ID>/stream?direct_user=true"
# Cloudflare Stream Token
CF_STREAM_TOKEN = "xxxxxxxxxxxxxxx"


# 可选：连接数据库的使用的协议，必须是 mongodb 或者 mongodb+srv，默认是 mongodb，如果是 mongodb+srv 则默认启用 TLS
MONGODB_PROTOCOL = "mongodb"
# 数据库连接的地址，如果是使用 mongodb 协议的集群请使用半角逗号分割多个主机，例：XX.XX.XX.XX:30001,YY.YY.YY.YY:30002，如果使用 mongodb+srv 协议的集群请提供主机名。
MONGODB_CLUSTER_HOST = "XX.XX.XX.XX:30001,YY.YY.YY.YY:30002"
# 可选：被 BASE64 编码连接时使用的 TLS 证书
MONGODB_TLS_CA_BASE64 = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
MONGODB_TLS_CERT_BASE64 = "YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY"
MONGODB_TLS_KEY_BASE64 = "ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ"
# 连接的数据库的名字
MONGODB_NAME = "kirakira-mongodb"
# 连接数据库的用户名
MONGODB_USERNAME = "username"
# 连接数据库的密码
MONGODB_PASSWORD = "password"

# 以逗号分隔的集群地址和端口号，例：XXX.XXX.XXX.XXX:32000,YYY.YYY.YYY.YYY:32000,ZZZ.ZZZ.ZZZ.ZZZ:32000
ELASTICSEARCH_CLUSTER_HOST = "elasticsearch-cluster-host"
# Elasticsearch 管理员用户名
ELASTICSEARCH_ADMIN_USERNAME = "elasticsearch-admin-username"
# Elasticsearch 管理员的密码
ELASTICSEARCH_ADMIN_PASSWORD = "elasticsearch-admin-password"
# 可选：Elasticsearch Kibana 管理员用户名
ELASTICSEARCH_KIBANA_ADMIN_USERNAME = "elasticsearch-kibana-admin-username"
# 可选：Elasticsearch Kibana 管理员的密码
ELASTICSEARCH_KIBANA_ADMIN_PASSWORD = "elasticsearch-kibana-admin-password"


# SMTP 服务器端点
SMTP_ENDPOINT = "xxxxx.xxxxxxxx.xxx"
# SMTP 服务器端口
SMTP_PORT = "xxx"
# SMTP 服务器用户名
SMTP_USER_NAME = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
# SMTP 服务器密码
SMTP_PASSWORD = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# AWS 机密名
AWS_SECRET_REGION = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
# AWS 机密公匙
AWS_SECRET_ACCESS_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
# AWS 机密私匙
AWS_SECRET_ACCESS_SECRET = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# 每日连续发送 2FA 邮箱验证码上限
GENERAL_2FA_EMAIL_VERIFICATION_CODE_DAILY_MAX_CREATE_ATTEMPTS="5"
# 每日连续尝试验证 2FA 邮箱验证码次数上限
GENERAL_2FA_EMAIL_VERIFICATION_CODE_DAILY_MAX_VERIFIER_ATTEMPTS="5"
# 发送 2FA 邮箱验证码的冷却时间（秒）
GENERAL_2FA_EMAIL_VERIFICATION_CODE_COOLINGDOWN_SECONDS="55"
# 2FA 邮箱验证码的有效期（毫秒）
GENERAL_2FA_EMAIL_VERIFICATION_CODE_TIMEOUT_MILLISECONDS="1800000"

# 每日连续发送通用邮箱验证码上限
GENERAL_EMAIL_VERIFICATION_CODE_DAILY_MAX_CREATE_ATTEMPTS="3"
# 每日连续尝试验证通用邮箱验证码次数上限
GENERAL_EMAIL_VERIFICATION_CODE_DAILY_MAX_VERIFIER_ATTEMPTS="5"
# 发送通用邮箱验证码的冷却时间（秒）
GENERAL_EMAIL_VERIFICATION_CODE_COOLINGDOWN_SECONDS="55"
# 通用邮箱验证码的有效期（毫秒）
GENERAL_EMAIL_VERIFICATION_CODE_TIMEOUT_MILLISECONDS="1800000"

# 每日连续尝试验证 TOTP 验证码次数上限
GENERAL_2FA_TOTP_VERIFICATION_CODE_DAILY_MAX_VERIFIER_ATTEMPTS="5"
# 连续尝试验证 TOTP 验证码达到上限后，多久之后可以重试（毫秒）
GENERAL_2FA_TOTP_VERIFICATION_CODE_MAX_VERIFIER_COOLINGDOWN_MILLISECONDS="3600000"
# TOTP 验证码额外窗口
TOTP_ADDITIONAL_WINDOWS="1"

# 日志等级，可选的值有：info, warn, error
LOG_LEVEL="info"
